.container {
  width: 90%;
  max-width: 720px;

  margin: 0 auto;
}

.preview {
  width: 100%;

  font-weight: 600;
  font-size: 1.125rem;
  color: var(--background);
  background-color: var(--heading);

  border: 0;
  border-radius: 4px;

  display: block;

  margin: 5rem 0;
  padding: 1.125rem 0;
  text-align: center;

  filter: brightness(1);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
