.posts {
  a {
    margin: 3rem 0;

    display: flex;
    flex-direction: column;

    strong {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.125rem;
      letter-spacing: -0.03rem;

      color: var(--heading);

      transition: color 0.2s;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.375rem;

      margin: 0.5rem 0 1.5rem;
    }

    .postsInfo {
      time,
      span {
        font-size: 0.875rem;
        line-height: 1.0625rem;

        color: var(--info);
      }

      time {
        margin-right: 1.5rem;
      }

      svg {
        font-size: 1.25rem;

        margin-right: 0.5rem;
      }
    }

    &:hover strong {
      color: var(--highlight);
    }
  }

  button {
    font-size: 1.125rem;
    font-weight: 600;

    border: 0;
    color: var(--highlight);
    background-color: transparent;

    filter: brightness(0.8);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(1);
    }
  }
}
