.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.content {
  width: 100%;

  margin: 5rem 0;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--heading);
    letter-spacing: -0.03125rem;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--heading);
    margin: 2.25rem 0;
  }

  p {
    font-size: 1.125rem;
    color: var(--body);
    line-height: 140%;

    & + p {
      margin-top: 1.125rem;
    }
  }

  a {
    color: var(--highlight);
  }

  ul {
    list-style-position: inside;
  }
  ul,
  li {
    margin-top: 1.125rem;
  }

  .postsInfo {
    margin: 1.5rem 0 4rem;

    display: flex;
    align-items: center;

    time,
    span {
      font-size: 0.875rem;
      color: var(--info);
    }

    svg {
      margin: 0 0.5rem 0 1.5rem;
    }

    svg:first-child {
      margin-left: 0;
    }
  }
}
